<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <h1>
      Sort by <%= sortBy %>

    </h1>
    
      <% queries.forEach((query) => { %>
          <% const link = `/?sortBy=${query}` %>
          <a style="margin: 10px" href="<%= link %>" >
            Sort by <%= query %>
          </a>
       <% }); %>

      <% for(let i=0; i<sightings.length; i+= 1) { %>
        <ul>
          <% const sightingId = sightings[i].id %>
          <% const link = `/sightings/${sightingId}` %>
          <% const index = i %>
          <a href="<%= link %>" >
            Sightings <%= index %>
          </a>
        </ul>
        <% } %>
  </body>
</html>
